:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(3, 6, 55);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/layered-peaks-haikei.svg');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
